p{
    color: purple;
}
span{
    border: 1px dashed black;
    background-color: yellowgreen;
}
header{
    border: solid 10px black;
    font-size: 3em;
}
header div{
    margin: 10px 20px 35px 45px;
    padding: 10px;
    width: calc(100% - 20px -20px);
    background-color: salmon;
    text-decoration: underline dotted black;
}

img{
    transform: matrix(1,2,3);
    transform: scale(2);
    transform: skew(20deg, 40deg);
    transform: translate(20px, -40px) rotate(90deg);
    /* transform: matrix(1,2,3); */
}
@media(max-width: 300px){
    img{
        transform: rotate(180deg);
    }
}